%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% == Core ==

%% Erlang compiler options
{erl_opts, [{parse_transform, lager_transform}
           ,debug_info
           ,fail_on_warning]}.

%% == Dependencies ==

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

%% What dependencies we have, dependencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision).
%% Rebar currently supports git, hg, bzr, svn, rsync, fossil, and p4.
{deps,  [ {lager,"2.0.3",{git, "https://github.com/basho/lager", {tag, "2.0.3"}}},
          {cowboy,"0.10.0", {git, "https://github.com/extend/cowboy.git", {tag, "0.10.0"}}},
          {jiffy,"0.*",{git, "https://github.com/davisp/jiffy", "master"}}
        ]}.



%% == Subdirectories ==

%% Subdirectories?
{sub_dirs, []}.
